
Teams/Teams_windows_x64.msi
Intune/M365Apps/Teams/MSTeams-x64.msix
Intune/M365Apps/Teams/Install.intunewin
Intune/GlobalProtect_ShowUI/Files/GlobalProtect64-6.2.3.msi
Intune/GlobalProtect_ShowUI/Files/GlobalProtect64-6.2.4.msi
Intune/GlobalProtect_ShowUI/Deploy-Application.intunewin
Intune/AutopilotBranding-main/LNKSC-CST/AutopilotBranding/Autopilot.jpg
Intune/AutopilotBranding-main/BFSSC-GMT/AutopilotBranding/Autopilot.jpg
Intune/AutopilotBranding-main/BFSSC-GMT/AutopilotBranding/Celerion.bmp
Intune/AutopilotBranding-main/LNKSC-CST/AutopilotBranding/Celerion.bmp
